[Unit]
Description=haproxy
Documentation=https://github.com/docker-library/haproxy
After=docker.service
Requires=docker.service

[Service]
User=root
ExecStart={{ bin_dir }}/docker run \
  --name haproxy \
  --publish 127.0.0.1:6443:6443 \
  --volume /etc/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg \
  docker.io/library/haproxy:{{ HAPROXY_TAG }}
ExecStop={{ bin_dir }}/docker rm -f haproxy
ExecReload={{ bin_dir }}/docker kill -s HUP haproxy
Restart=always
RestartSec=10
Delegate=yes
LimitNOFILE=50000
LimitNPROC=50000

[Install]
WantedBy=multi-user.target
